# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# venvs
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Project-specific
runs/
*.tar.gz
hf_cache/
~/.cache/huggingface/
wandb/